/* -------------------------------------------------------- */
/* CELULARES - Estilos para pantallas con un ancho menor a 600px */
@media (max-width: 600px) {
  .tituloPrincipals {
    position: relative;
  }

  .fondoPrincipals {
    width: 95%;
    border-radius: 0 32px 32px 0;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 4% 0% 3% 0%;
    background-image: linear-gradient(90deg, #52eeff, #39b4ff);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
  }

  .textoTituloPrincipals {
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 10%;
  }
}

/* -------------------------------------------------------- */
/* TABLET - Estilos para pantallas con un ancho entre 768px y 1024px */
@media (min-width: 601px) and (max-width: 1023px) {
  .tituloPrincipals {
    position: relative;
    margin-bottom: 2%;
  }

  .fondoPrincipals {
    width: 65%;
    border-radius: 0 32px 32px 0;
    height: 46px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2% 0% 0% 0%;
    background-image: linear-gradient(90deg, #52eeff, #39b4ff);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
  }

  .textoTituloPrincipals {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10%;
  }
}

/* -------------------------------------------------------- */
/* NOTEBOOK - Estilos para pantallas con un ancho mayor o igual a 1024px */
@media (min-width: 1024px) {
  .tituloPrincipals {
    position: relative;
    margin-bottom: 2%;
  }

  .fondoPrincipals {
    width: 50%;
    border-radius: 0 32px 32px 0;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2% 0% 0% 0%;
    background-image: linear-gradient(90deg, #52eeff, #39b4ff);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
  }

  .textoTituloPrincipals {
    color: #fff;
    font-size: 2.2em;
    font-weight: bold;
    margin-right: 10%;
  }
}
