@media (max-width: 600px) {
  .marcosDePantalla {
    width: 100%;
    height: auto;
    padding: 0 5%;
    margin-top: 5px;
  }

  .descripcionDelEspacio {
    width: 100%;
    height: auto;
    margin-top: 5px;
    text-align: justify;
    /* propiedad de salto de linea */
    word-wrap: break-word;
    font-size: 15px;
  }
}

/* -------------------------------------------------------- */
/* TABLET - Estilos para pantallas con un ancho entre 768px y 1024px */
@media (min-width: 601px) and (max-width: 1023px) {
  .marcosDePantalla {
    width: 48%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 3%;
  }

  .descripcionDelEspacio {
    width: 100%;
    height: auto;
    text-align: justify;
    /* propiedad de salto de linea */
    word-wrap: break-word;
    font-size: 15px;
  }

  .columnas {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
  }
}

/* -------------------------------------------------------- */
/* NOTEBOOK - Estilos para pantallas con un ancho mayor o igual a 1024px */
@media (min-width: 1024px) {
  .marcosDePantalla {
    width: 48%;
    height: auto;
    margin-bottom: 3%;
  }

  .descripcionDelEspacio {
    width: 100%;
    height: auto;
    text-align: justify;
    /* propiedad de salto de linea */
    word-wrap: break-word;
    font-size: 15px;
  }

  .columnas {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }
}
