.titulo {
  position: relative;
}

.fondo {
  background-image: linear-gradient(90deg, #52eeff, #39b4ff);
  width: 90%;
  border-radius: 0 32px 32px 0;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.textoTitulo {
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 25px;
}
